sso/gatekeeper/*.conf
sso/*.env
sso/k8s/*.json
app/*.env
backup/*.env
mail/*.env
backup/ftp/test
backup/test
app/*.properties
reverse-proxy/certs/*.key
reverse-proxy/certs/*.cer
reverse-proxy/certs/*.csr
app/*.cer
k8s/helm/*.pem
k8s/helm/*.srl
