POSTGRES_PASS=
USER_PASS=
SPRING_CONFIG_LOCATION=classpath:/application.properties,file:/app/config/application-staging.properties
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
REACT_APP_API_MOCK=false
REACT_APP_NAME=RIE'AU
REACT_APP_BASENAME=/
REACT_APP_DOMAIN=https://rieau.cohesion-territoires.gouv.fr
PUBLIC_URL=https://rieau.cohesion-territoires.gouv.fr
REACT_APP_API_URL=https://rieau.cohesion-territoires.gouv.fr/api
REACT_APP_SSO_APP_URL=https://rieau.cohesion-territoires.gouv.fr/auth
REACT_APP_SSO_APP_REALM=rieau
REACT_APP_SSO_APP_CLIENT_ID=rieau-ui