# Technically, this could be auto-detected, but we prefer to be prescriptive
DB_VENDOR=postgres
DB_DATABASE=keycloak
DB_ADDR=keycloak_db
DB_PORT=5532
DB_USER=keycloak
DB_PASSWORD=
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=

# This is required to run keycloak behind traefik
KEYCLOAK_LOGLEVEL=INFO
PROXY_ADDRESS_FORWARDING=true

# What's our hostname?
KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_HTTPS_PORT=8443

# Tell Postgress what user/password to create
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=